.box{
    display: inline-block;
    height: 150px;
    width: 150px;
}
.container{
    background-color: coral;
    margin-top: 100px;
    margin-left: 100px;
}
.box1{
    background-color: crimson;

}

.box2{
    background-color: deepskyblue;
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 1;

}

.box3{
    background-color: green;
    position: relative;
    z-index: 5;

}

.box4{
    background-color: hotpink;
}