.circle{
    height: 60vh;
    width: 60vh;
    background-color: red;
    border-radius: 50%;
    /* margin: auto; horizontaly chijo ko center per lake rakh deta h */
    margin: auto;
    margin-top:20vh ;

}