.card{
    width: 30vw;
    height: 30vh;
    background-color: aqua;
    border: 5px green solid;
    padding: 10px;
    margin: 20px 20px 20px 35vw;
    
    
}
body{
    background-color: lightgoldenrodyellow;
}
h2{
    color: green;
    text-align: center;
}

h3{
    text-align: center;
}
p{
    text-align: center;
}
.card :hover{
    
    transform: scale(1.1);
}