/* border ke ander --> padding hota h, padding ke ander -->content */

h1{
    width:50vw;
    height: 20vh;
    background-color: aqua;
    /* border-width: 5px;
    border-style: solid;
    border-color: blue; */
    border: 5px solid blue;
    padding: 10px 20px 30px 40px;
    border-radius: 20px;
    margin: 20px 50px 30px 40px;
    box-sizing: border-box; /* by default content-box hota h */
}
h3{
    background-color:sandybrown;
    /* border-left-width: 10px;
    border-left-color: green;
    border-left-style: solid; */
    border-width: 10px 20px;
    border-style: solid; 
    border-color: rgb(198, 200, 73) rgb(29, 2, 6);

    /* when we have 2 option for border width
    it will be allocated to top and bottom ,right and left */
    padding: 10px;
}

ul{
    background-color: pink;
}

p{
    background-color: tomato;
    border-width: 5px;
    border-style:solid;
    border-color: black;
    padding: 10px;
}